.idea/
.venv/
utils/__pycache__/
runs/
checkpoints/
2d+t/checkpoints/
/checkpoints/
/wandb/
annotation_video.mp4
best_predictions_video.mp4
results_video.mp4
2d/results/  
2d/runs/  
2d+memory/runs/     
2d+t/runs/   

*.pth
*.pdf
*.xlsx